@import url('https://fonts.googleapis.com/css?family=PT+Sans');

:host{
    //align-self: center;
    //flex: 1;
    margin-top: 2em;
}

.content{
    margin: auto;
    width: 50%;

    margin-top: 1em;
    padding: 1em;
    padding-top: 0;
}

// div:hover{
//     color: white;
//     text-shadow: 0 0 25px rgb(82, 255, 125);
// }

h1{
    background-color: black;
    color: white;
    font-family: 'PT Sans';
    text-decoration: underline;
    display:inline;
    padding: 0.5em;
}

p, li{
    color: rgb(44, 44, 44); 
    font-family: 'PT Sans';
    font-style: italic;
    font-size: 1.25em;
}

article{

    margin-top: 2em;
    width: 30em;
    font-family: 'PT Sans';
    font-size: 1.5em;
    font-weight: 600;
}




