@font-face {
    font-family: 'jetbrains-mono-bold';
    src: url('/assets/fonts/JetBrainsMonoNL-Bold.ttf');
}

h3{
    background-color: rgb(62, 255, 149);
    color: rgb(24, 39, 61);
    font-family: 'jetbrains-mono-regular';
    text-align: right;
    letter-spacing: 1.5em;
    margin: 0;
}

p{
    white-space: pre;
}

:host{
    align-self: center;
    margin-top: 2em;
    margin-left: 10em;
    margin-right: 23em;
    padding-top: 0;
    border: 2px solid rgb(62, 255, 149);
}

.wrapper{
    padding: 1em;
}

.tags{
    display: flex;
    margin: auto;
    width: fit-content;
}

.tag{
    margin: 0.5em;
    margin-top: 0;
    padding: 1em;
    border: 2px solid rgb(62, 255, 149);
}

h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 38px;
    //font-family: 'mister-firley-regular';
    font-family: 'jetbrains-mono-bold';
}

h2{
    margin-top: -4px;
    font-size: medium;
    color: mediumseagreen; 
}

//Carousel styling
.carousel {
    display: block;
    margin: auto;
    width: fit-content;
}

.image-view{
    display: block;
    margin: auto;
    width: fit-content;
}

.image {
    display: none;
    border: 2px solid rgb(62, 255, 149);
    margin-bottom: 0.5em;
}

/* Next & previous buttons */

.arrows{
    display: block;
    margin: auto;
    margin-bottom: 0;
    width: fit-content;
}

a{
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 30px;
    margin: 1em;

    color: rgb(62, 255, 149);
    font-weight: bold;
    font-size: 24px;

    transition: 0.2s ease;
}
  
/* On hover, add a black background color with a little bit see-through */
a:hover {
    color: white;
    text-shadow: 0 0 10px rgb(82, 255, 125);
    transform: scale(1.25);
}
