
:host{
    align-self: center;
    flex: 1;
    margin-top: 2em;
    margin-left: 10em;
    margin-right: auto;
}

.tags{
    display: flex;
}

.tag{
    margin: 0.5em;
    padding: 1em;
    border: 2px solid rgb(62, 255, 149);
}