
<div class="content">

    <div>
        <h1>
            Contact me!
        </h1>

        <article>
            Here's where you can find me:
        </article>

        <ul>
            <li>
                <a href="mailto:njxorcsik@gmail.com">
                    Email
                </a>
            </li>
            <li>
                <a href="https://github.com/norcsik">
                    GitHub
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/nicholas-orcsik-306613251/">
                    LinkedIn
                </a>
            </li>
        </ul>

        <article>
            <a href="assets/resume/Nicholas Orcsik Resume 2023.pdf" download>Check out my resume!</a>
        </article>
    </div>
    
    <!-- <div class="symbol">
        <p class="symbol">
            ✆
        </p>
    </div> -->
</div>

