
@font-face {
    font-family: 'jetbrains-mono-regular';
    src: url('/assets/fonts/JetBrainsMonoNL-Regular.ttf');
}

@font-face {
    font-family: 'jetbrains-mono-italics';
    src: url('/assets/fonts/JetBrainsMonoNL-Italic.ttf');
}

html{
    background-color: rgb(24, 39, 61);
    font-family: 'jetbrains-mono-regular';
    color: rgb(62, 255, 149);
    padding: 0;
    margin: 0;
}

header{
    padding-bottom: 1em;
}

span{
    display: flex;
}

p{
    flex: 1;
    align-self: center;
    color: mediumseagreen; 
    font-family: 'jetbrains-mono-italics';
    padding-left: 10em;
    padding-right: 10em;
}

footer{
    text-align: center;
}