<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Nicholas Orcsik Portfolio</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='app.component.scss'>
    <script src='app.component.ts'></script>
  </head>
  <body>
    <header>
      <h2>
        Nicholas Orcsik
      </h2>
    </header>
      <app-main-page></app-main-page>
    <footer>Footer</footer>
  </body>
</html>
